<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button text="" defaultHref="/"></ion-back-button>
      </ion-buttons>       
    </ion-buttons>
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar Categoría" (ionChange)="searchCategoria($event)"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list class="ion-text-center">
    <ion-card *ngFor="let c of busqueda">
      <ion-card-title class="ion-text-center">{{c.nombre}}</ion-card-title>
      <ion-card-subtitle>Descripción: {{c.descripcion}}</ion-card-subtitle>
      <div *ngIf="c.condicion">
        <ion-card-subtitle>Estado: 
          <ion-text color="primary">
          Activo
        </ion-text>
        </ion-card-subtitle>
      </div>
      <div *ngIf="!c.condicion">
        <ion-card-subtitle>Estado:
          <ion-text color="danger">
            Inactivo
          </ion-text>
        </ion-card-subtitle>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
